<!-- <p>form works!</p> -->
<h1 class="title">Form Array , Form Group</h1>
<form [formGroup]="mainForm">
  <div class="form-group">
    <label>User Name</label>
    <input type="text" formControlName="name" name="name" placeholder="User name" />
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="email" formControlName="email" name="email" placeholder="User email" />
  </div>
  <div formArrayName="contact">
    <div style="display: flex; justify-content: space-between;">
      <h3>Contact Person</h3>
      <button (click)="addContactPerson()">Add</button>
    </div>
    <ng-container *ngFor="let contactPerson of contactPersonArray()['controls']; let contactPersonIndex = index;" [formGroupName]="contactPersonIndex">
      <div class="form-group">
        <label>Contact person Name</label>
        <input type="text" formControlName="cPersonName" name="cPersonName" placeholder="Contact person Name" />
      </div>
      <div class="form-group">
        <label>Contact person Email</label>
        <input type="text" formControlName="cPersonEmail" name="cPersonEmail" placeholder="Contact person Email" />
      </div>
      <button (click)="removeContactPerson(contactPersonIndex)">Remove</button>

      <!-- contact Number -->
      <pre>{{contactPersonIndex}}</pre>
      <div style="display: flex; justify-content: space-between;">
        <h3>Contact Number</h3>
        <button (click)="addContactNumber(contactPersonIndex)">Add</button>
      </div>
      <ng-container formArrayName="contactNumbers">
        <ng-container *ngFor="let contactNumber of contactNumberArray(contactPersonIndex).controls; let contactNumberIndex = index" [formGroupName]="contactNumberIndex">
          <div class="form-group">
            <label>Contact Number</label>
            <input type="number" formControlName="cPersonNumber" name="cPersonNumber" placeholder="Contact person Number" />
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</form>
